#stage {
  z-index: 1;
  width: 400px;
  height: 600px;
  background-color: #ffff00;
  position: relative;
  overflow: hidden;
}

.platform-basic {
  z-index: 2;
  width: 85px;
  height: 15px;
  background-color: #008000;
  position: absolute;
}

#jumper {
  z-index: 3;
  width: 60px;
  height: 85px;
  background-color: #ff0000;
  position: absolute;
}

#scoreBoard {
  z-index: 4;
  position: absolute;
  text-align: right;
  min-width: 50px;
  top: 20px;
  right: 20px;
  border: 2px solid #000000;
  padding: 2px;
  font-size: xx-large;
  background-color: #ffa500;
  font-weight: 900;
}

#gameOver {
  z-index: 5;
  position: absolute;
  text-align: center;
  top: 250px;
  left: 110px;
  border: 2px solid #000000;
  font-size: xx-large;
  font-weight: 900;
  padding: 5px;
  background-color: #0000ff;
}