html, body {
  width: 100vw;
  height: 100vh;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #000000;
  overflow: hidden;
}

body {
  position: relative;
}

#gameConsole {
  position: relative;
  transform-origin: top center;
  width: 404px;
  height: 700px;
  background-color: #292929;
}

#stage {
  z-index: 1;
  width: 400px;
  height: 600px;
  background-color: #b0e9fb;
  position: relative;
  overflow: hidden;
  background-image: url(images/stages/clouds.svg);
  border: 2px solid #000000;
  box-shadow: inset 0 0 5px 5px #0000004d;
}

#controls {
  padding: 5px;
  width: 394px;
  height: 85px;
  display: flex;
  justify-content: space-around;
}

#controls button {
  width: 48%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

#leftButton {
  background-image: url(images/arrows/left.svg);
}

#rightButton {
  background-image: url(images/arrows/right.svg);
}

.platform-basic {
  z-index: 2;
  width: 85px;
  height: 15px;
  background-image: url(images/platforms/basic.svg);
  position: absolute;
}

#jumper {
  z-index: 3;
  width: 60px;
  height: 85px;
  background-image: url(images/jumpers/caleb-standing.svg);
  position: absolute;
}

#jumper.jumping {
  background-image: url(images/jumpers/caleb-jumping.svg);
}

#jumper.flip {
  transform: scaleX(-1);
}

#scoreBoard {
  z-index: 4;
  position: absolute;
  text-align: right;
  min-width: 35px;
  top: 20px;
  right: 20px;
  border: 2px solid #000000;
  padding: 2px;
  font-size: xx-large;
  background-color: #ffa600cc;
  box-shadow: 0 0 4px 4px #0000004d;
  font-weight: 900;
}

#gameOver {
  z-index: 5;
  display: none;
  position: absolute;
  text-align: center;
  width: 180px;
  height: 38px;
  top: 250px;
  left: 110px;
  border: 2px solid #000000;
  box-shadow: 0 0 4px 4px #0000004d;
  font-size: xx-large;
  font-weight: 900;
  padding: 5px;
  background-color: #ff0000;
}