html, body {
  width: 100vw;
  height: 100vh;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: #000000;
  overflow: hidden;
}

body {
  position: relative;
}

#gameConsole {
  position: relative;
  transform-origin: top center;
  width: 404px;
  height: 700px;
  background-color: #292929;
}

#stage {
  z-index: 1;
  width: 400px;
  height: 600px;
  background-color: #b0e9fb;
  position: relative;
  overflow: hidden;
  background-image: url(images/stages/clouds.svg);
  border: 2px solid #000000;
  box-shadow: inset 0 0 5px 5px #0000004d;
}

#gameOptions {
  z-index: 5;
  position: absolute;
  top: 150px;
  left: 65px;
  width: 270px;
  height: 160px;
  background-color: #fa9dfdcc;
  border: 2px solid #000000;
  box-shadow: 0 0 4px 4px #0000004d;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
}

#gameOptions ul {
  height: 110px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#gameOptions li {
  margin: 0;
  padding: 4px;
}

#gameOptions li input[type="radio"] {
  display: none;
}

#gameOptions li label {
  display: block;
  width: 50px;
  height: 50px;
  border: 0;
  padding: 5px;
  margin: 5PX;
  background-color: #f64ffb;
  border-radius: 25%;
  border: 2px dashed #6d0470;
  text-align: center;
  opacity: 0.7;
}

#gameOptions li input[checked]+label {
  width: 60px;
  height: 55px;
  margin: 0;
  padding-top: 10px;
  border: 2px solid #6d0470;
  opacity: 1;
}

#playButton {
  height: 50px;
  font-weight: 900;
  font-size: 20px;
  border: 0;
  padding: 10px;
  margin: 0;
  background-color: #f64ffb;
  justify-self: flex-end;
  background-image: url(images/controls/play.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#controls {
  padding: 5px;
  width: 394px;
  height: 85px;
  display: flex;
  justify-content: space-around;
}

#controls button {
  width: 48%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

#leftButton {
  background-image: url(images/controls/left.svg);
}

#rightButton {
  background-image: url(images/controls/right.svg);
}

.platform-basic {
  z-index: 2;
  width: 85px;
  height: 15px;
  background-image: url(images/platforms/basic.svg);
  position: absolute;
}

#jumper {
  z-index: 3;
  width: 60px;
  height: 85px;
  background-image: url(images/jumpers/caleb-standing.svg);
  position: absolute;
}

#jumper.jumping {
  background-image: url(images/jumpers/caleb-jumping.svg);
}

#jumper[data-character="zobie"] {
  background-image: url(images/jumpers/zobie-standing.svg);
}

#jumper[data-character="zobie"].jumping {
  background-image: url(images/jumpers/zobie-jumping.svg);
}

#jumper[data-character="bob"] {
  background-image: url(images/jumpers/bob-standing.svg);
}

#jumper[data-character="bob"].jumping {
  background-image: url(images/jumpers/bob-jumping.svg);
}

#jumper.flip {
  transform: scaleX(-1);
}

#scoreBoard {
  z-index: 4;
  position: absolute;
  text-align: right;
  min-width: 35px;
  top: 20px;
  right: 20px;
  border: 2px solid #000000;
  padding: 2px;
  font-size: xx-large;
  background-color: #ffa600cc;
  box-shadow: 0 0 4px 4px #0000004d;
  font-weight: 900;
}

#gameOver {
  z-index: 5;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  text-align: center;
  width: 180px;
  height: 150px;
  top: 250px;
  left: 110px;
  border: 2px solid #000000;
  box-shadow: 0 0 4px 4px #0000004d;
  font-size: xx-large;
  font-weight: 900;
  padding: 0 0 1px;
  background-color: #fd5a5a;
}

#gameOver div {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  padding: 0;
}

#gameOver div {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(images/jumpers/caleb-icon.svg);
}

#gameOver div[data-character="zobie"] {
  background-image: url(images/jumpers/zobie-icon.svg);
}

#gameOver div[data-character="bob"] {
  background-image: url(images/jumpers/bob-icon.svg);
}

#playAgainButton {
  width: 100%;
  height: 66px;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #c32121;
  background-image: url(images/controls/replay.svg);
  background-repeat: no-repeat;
  background-position: center;
}